.container {
  margin: 3em auto 6em auto;
  max-width: 80%;
  line-height: 1.6em;
}

/* ----------- */

.container > .kla_heading {
  display: block;
  font-size: 3em;
  margin: 10px;
  text-align: center;
}

.container > .syllabus > .syl_heading {
  font-size: 1.2em;
}

.container > .syllabus > .intro > .heading {
  font-weight: bold;
  font-size: 1.2em;
}

.container > .syllabus > .rationale > .heading {
  font-weight: bold;
  font-size: 1.2em;
}

.container > .syllabus > .aim > .heading {
  font-weight: bold;
  font-size: 1.2em;
}

.container > .syllabus > .stages > .heading {
  font-weight: bold;
  font-size: 1.2em;
}

.container > .syllabus > .stages > .stage > .stage_title {
  display: block;
  font-size: 1.6em;
  margin: 10px 0px;
}

.container > .syllabus > .stages > .stage > .statement > .heading {
  font-weight: bold;
  font-size: 1.3em;
}

.container > .syllabus > .stages > .stage > .supportingMaterial > .heading {
  font-weight: bold;
  font-size: 1.3em;
}

.container > .syllabus > .stages > .stage > .objectives {
  padding: 0 1.5rem;
}

.container > .syllabus > .stages > .stage > .objectives > .heading {
  font-weight: bold;
  font-size: 1.3em;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .objective_description {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.3em;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .outcomes {
  padding: 0 1.5rem;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .outcomes
  > .heading {
  font-size: 1.3em;
  color: cornflowerblue;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .outcomes
  > .body {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: cornflowerblue;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .outcomes
  .outcome {
  list-style-type: decimal-leading-zero;
  margin: 0 1.4rem;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group {
  padding: 0 1.5rem;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_heading {
  color: coral;
  font-size: 1.3em;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: coral;
  padding: 0 6px;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  .heading {
  font-weight: bold;
  font-size: 1.3em;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body
  > .contents
  > .content_list
  > .content
  > .content_description {
  font-style: italic;
  font-size: large;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body
  > .contents
  > .content_list
  > .content
  > .exact_alignment {
  font-style: italic;
  font-size: smaller;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body
  > .contents
  > .content_list
  > .content
  > .intended_learnings {
  padding: 0 1.5rem;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body
  > .contents
  > .content_list
  > .content
  > .intended_learnings
  > .intended_learning {
  list-style-type: disc;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body
  > .contents
  > .content_list
  > .content
  > .intended_learnings
  > .intended_learning
  .arrow_bullet_point {
  margin: 0 0.4rem;
  padding: 0 0.4rem;
}

.container
  > .syllabus
  > .stages
  > .stage
  > .objectives
  > .objective
  > .content_groups
  > .content_group
  > .content_group_body
  > .contents
  > .content_list
  > .content
  > .intended_learnings
  > .intended_learning
  .arrow_bullet_point::marker {
  content: ">";
  font-weight: bold;
  font-size: 1.2em;
}
