* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans Narrow', '';
    font-size: 16px;
    color: #555;
}

a,
a:visited,
a:active {
    color: #1d77c2;
    text-decoration: none;
}

a:hover {
    color: #555;
}

main {
    margin: 3em auto 6em auto;
    max-width: 800px;
    line-height: 1.6em;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 1em;
}

h2 {
    color: #1d77c2;
    font-size: 1.8em;
    font-weight: normal;
    margin: 3em 0 1em;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em;
}

ul {
    list-style-type: none;
}


.title {
    /*font-style: italic;*/
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px;
    padding-top: 30px;
}

.description {
    padding: 10px;
    padding-top: 20px;
    font-size: 1.4em;
}

.glossary-id {
    font-style: italic;
    font-size: 1.3em;

    border: 2px solid rgba(208, 227, 204, 0.8);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-style: solid;

    padding: 10px;
 
    text-align: right;
}


/*
format the search input
*/
#search {
  /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */*/
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 30px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}




